@model PaginatedList<LostOrFound.Models.Details>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
           Filter By: <select type="submit" name="filterString" value="@ViewData["CurrentFilter1"]" class="btn btn-default"asp-items="new SelectList(ViewBag.options)"></select> |
            <input type="submit" value="Filter" class="btn btn-default" /> 

        </p>
    </div>
</form>
@*<div class="form-group">
            
                <label asp-for="ItemDetails" class="control-label"></label>
                 <select asp-for="ItemDetails" class="form-control" asp-items="new SelectList(ViewBag.options)"></select>
                <span asp-validation-for="ItemDetails" class="text-danger"></span>
            </div>*@
<p >
    <a class="btn btn-primary lost"  style ="background-color:indianred;" asp-action="Create">Add Lost Item</a>
</p>
<p >
    <a  class="btn btn-primary found" style ="background-color:darkgreen;" asp-action="Create">Add Found item</a>
</p>
<div class="mirror" >
    <table class="table" >
    <thead>
        <tr >
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">FirstName</a>
            
            </th>
            <th>
               LastName
            </th>
            <th>
                ItemDetails
            </th>
            <th>
    Contact
            </th>
            <th>
               City
            </th>
            <th>
                State
            </th>
            <th>
               Status
            </th>
            <th >
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th >
            Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                   <td>
               
                <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary"><i class="fas fa-pen"></i> Edit Details</a>
                            </td>
                              <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary"><i class="fas fa-pen"></i>Item Details</a>
                            </td>
                              <td class="text-center">
                                <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-primary"><i class="fas fa-pen"></i>Delete Item</a>
                            </td>
            
          @*  </td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>*@
        </tr>
}

@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })" 
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })" 
       class="btn btn-default">
        Next &raquo;
    </a>
}
    </tbody>
</table>

</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a  asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default btn1 @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default btn2 @nextDisabled">
    Next
</a>